# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore IntelliJ project settings
.idea/

# Ignore the database properties file
src/main/resources/be/ugent/objprog/databankgui/db.properties
target